# Project source files to include
!/aura/
!/classes/
!/components/
!/lwc/
!/objects/
!/pages/
!/staticresources/
!/triggers/
!/applications/
!/layouts/
!/permissionsets/
!/contentassets/
!/flexipages/
!/tabs/

# Allow .gitignore
!.gitignore
